# Caddy gets and renews HTTPS certificates automatically for {$SITE_DOMAIN}.
{$SITE_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv/web
		file_server
	}
}

www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}
